services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:1000
    ports:
      - "8096:8096"
    volumes:
      - ./config:/config
      - ./cache:/cache
      - /mnt/albert_ssd:/media:ro
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

